# LOC, ILOC | GROUPBY

Loc = lable based selection

In [1]:
import pandas as pd

In [2]:
data =pd.read_csv("netflix_data.csv")

In [3]:
data.head(n=10)

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,4,In a future where the elite inhabit an island ...,International TV
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,93,After a devastating earthquake hits Mexico Cit...,Dramas
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,78,"When an army recruit is found dead, his fellow...",Horror Movies
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,80,"In a postapocalyptic world, rag-doll robots hi...",Action
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,123,A brilliant group of students become card-coun...,Dramas
5,s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,"July 1, 2017",2016,1,A genetics professor experiments with a treatm...,International TV
6,s7,Movie,122,Yasir Al Yasiri,"Amina Khalil, Ahmed Dawood, Tarek Lotfy, Ahmed...",Egypt,"June 1, 2020",2019,95,"After an awful accident, a couple admitted to ...",Horror Movies
7,s8,Movie,187,Kevin Reynolds,"Samuel L. Jackson, John Heard, Kelly Rowan, Cl...",United States,"November 1, 2019",1997,119,After one of his high school students attacks ...,Dramas
8,s9,Movie,706,Shravan Kumar,"Divya Dutta, Atul Kulkarni, Mohan Agashe, Anup...",India,"April 1, 2019",2019,118,"When a doctor goes missing, his psychiatrist w...",Horror Movies
9,s10,Movie,1920,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",India,"December 15, 2017",2008,143,An architect and his wife move into a castle t...,Horror Movies

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7787 non-null   object
 1   type          7787 non-null   object
 2   title         7787 non-null   object
 3   director      5398 non-null   object
 4   cast          7069 non-null   object
 5   country       7280 non-null   object
 6   date_added    7777 non-null   object
 7   release_year  7787 non-null   int64
 8   duration      7787 non-null   int64
 9   description   7787 non-null   object
 10  genre         7787 non-null   object
dtypes: int64(2), object(9)
memory usage: 669.3+ KB

In [5]:
data.describe()

       release_year     duration
count   7787.000000  7787.000000
mean    2013.932580    69.122769
std        8.757395    50.950743
min     1925.000000     1.000000
25%     2013.000000     2.000000
50%     2017.000000    88.000000
75%     2018.000000   106.000000
max     2021.000000   312.000000

In [6]:
data["type"].value_counts()

Movie      5377
TV Show    2410
Name: type, dtype: int64

In [7]:
data.loc[:,"type"]

0       TV Show
1         Movie
2         Movie
3         Movie
4         Movie
         ...
7782      Movie
7783      Movie
7784      Movie
7785    TV Show
7786      Movie
Name: type, Length: 7787, dtype: object

In [8]:
data.loc[:,["type","country"]]

         type         country
0     TV Show          Brazil
1       Movie          Mexico
2       Movie       Singapore
3       Movie   United States
4       Movie   United States
...       ...             ...
7782    Movie          Sweden
7783    Movie           India
7784    Movie             NaN
7785  TV Show       Australia
7786    Movie  United Kingdom

[7787 rows x 2 columns]

In [10]:
data.loc[:,["type"]].value_counts()

type
Movie      5377
TV Show    2410
dtype: int64

In [11]:
data.sort_values("duration")

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre
4954,s4955,TV Show,Power Rangers: Megaforce,NaN,"Andrew M. Gray, Ciara Hanna, John Mark Louderm...",United States,"January 1, 2016",2013,1,When Earth is threatened by a massive alien in...,Kids
4369,s4370,TV Show,Mystery Lab,NaN,"Felipe Castanhari, Lilian Regina, Bruno Mirand...",Brazil,"August 4, 2020",2020,1,"Host Felipe Castanhari explores science, histo...",Docuseries
4370,s4371,TV Show,Mystery Science Theater 3000,NaN,"Joel Hodgson, Michael J. Nelson, Kevin Murphy,...",United States,"March 15, 2018",1999,1,Hosts Joel and Mike and their robot companions...,TV Comedies
4373,s4374,TV Show,Mystic Pop-up Bar,NaN,"Hwang Jung-eum, Yook Sung-jae, Choi Won-young,...",South Korea,"May 21, 2020",2020,1,A young man with a unique ability begins worki...,International TV
4375,s4376,TV Show,Mystic Whispers,NaN,"Romeo Tan, Sheila Sim, Yuan Shuai, Aloysius Pang",Singapore,"July 1, 2017",2014,1,After a car accident enables a young woman to ...,International TV
...,...,...,...,...,...,...,...,...,...,...,...
5108,s5109,Movie,Raya and Sakina,Hussein Kamal,"Suhair El-Babili, Shadia, Abdel Moneim Madboul...",NaN,"May 21, 2020",1984,230,When robberies and murders targeting women swe...,Comedies
3694,s3695,Movie,Lock Your Girls In,Fouad El-Mohandes,"Fouad El-Mohandes, Sanaa Younes, Sherihan, Ahm...",NaN,"May 21, 2020",1982,233,A widower believes he must marry off his three...,Comedies
4490,s4491,Movie,No Longer kids,Samir Al Asfory,"Said Saleh, Hassan Moustafa, Ahmed Zaki, Youne...",Egypt,"May 21, 2020",1979,237,Hoping to prevent their father from skipping t...,Comedies
6850,s6851,Movie,The School of Mischief,Houssam El-Din Mustafa,"Suhair El-Babili, Adel Emam, Saeed Saleh, Youn...",Egypt,"May 21, 2020",1973,253,A high school teacher volunteers to transform ...,Comedies
957,s958,Movie,Black Mirror: Bandersnatch,NaN,"Fionn Whitehead, Will Poulter, Craig Parkinson...",United States,"December 28, 2018",2018,312,"In 1984, a young programmer begins to question...",Dramas

In [12]:
data.sort_values("release_year")

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre
4867,s4868,TV Show,Pioneers: First Women Filmmakers*,NaN,NaN,NaN,"December 30, 2018",1925,1,This collection restores films from women who ...,TV Shows
6117,s6118,Movie,The Battle of Midway,John Ford,"Henry Fonda, Jane Darwell",United States,"March 31, 2017",1942,18,Director John Ford captures combat footage of ...,Classic Movies
4960,s4961,Movie,Prelude to War,Frank Capra,NaN,United States,"March 31, 2017",1942,52,Frank Capra's documentary chronicles the rise ...,Classic Movies
7679,s7680,Movie,WWII: Report from the Aleutians,John Huston,NaN,United States,"March 31, 2017",1943,45,Filmmaker John Huston narrates this Oscar-nomi...,Documentaries
7342,s7343,Movie,Undercover: How to Operate Behind Enemy Lines,John Ford,NaN,United States,"March 31, 2017",1943,61,This World War II-era training film dramatizes...,Classic Movies
...,...,...,...,...,...,...,...,...,...,...,...
4173,s4174,TV Show,Monarca,NaN,"Irene Azuela, Juan Manuel Bernal, Osvaldo Bena...",Mexico,"January 1, 2021",2021,2,"After 20 years, Ana María returns to Mexico an...",International TV
3822,s3823,TV Show,Lupin,NaN,"Omar Sy, Ludivine Sagnier, Clotilde Hesme, Nic...",United States,"January 8, 2021",2021,1,"Inspired by the adventures of Arsène Lupin, ge...",Crime TV
980,s981,TV Show,Bling Empire,NaN,NaN,NaN,"January 15, 2021",2021,1,Follow LA's wildly wealthy Asian and Asian Ame...,Reality TV
1285,s1286,Movie,Charming,Ross Venokur,"Wilmer Valderrama, Demi Lovato, Sia, Nia Varda...",Canada,"January 8, 2021",2021,85,"On the eve of his 21st birthday, an adored pri...",Children
4468,s4469,TV Show,Night Stalker: The Hunt for a Serial Killer,Tiller Russell,NaN,NaN,"January 13, 2021",2021,1,Beneath the sunlit glamour of 1985 LA lurks a ...,Crime TV

In [13]:
data.sort_values(["duration","release_year"])

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre
4867,s4868,TV Show,Pioneers: First Women Filmmakers*,NaN,NaN,NaN,"December 30, 2018",1925,1,This collection restores films from women who ...,TV Shows
4866,s4867,TV Show,Pioneers of African-American Cinema,"Oscar Micheaux, Spencer Williams, Richard E. N...",NaN,United States,"February 1, 2017",1946,1,This newly preserved collection features more ...,TV Shows
4216,s4217,TV Show,Monty Python's Fliegender Zirkus,NaN,"Graham Chapman, John Cleese, Eric Idle, Terry ...",United Kingdom,"October 2, 2018",1972,1,The Pythons elevate the absurd to new heights ...,International TV
1949,s1950,TV Show,El Chavo,NaN,"Roberto Gómez Bolaños, María Antonieta de las ...",Mexico,"December 31, 2017",1979,1,"El Chavo is a poor, nameless orphan who lives ...",Classic
4478,s4479,TV Show,Ninja Hattori,NaN,"Junko Hori, Masako Sugaya, Yuko Mita, Kaneta K...",Japan,"December 23, 2018",1981,1,Elementary school student Kenichi Mitsuba's ho...,Anime Series
...,...,...,...,...,...,...,...,...,...,...,...
5108,s5109,Movie,Raya and Sakina,Hussein Kamal,"Suhair El-Babili, Shadia, Abdel Moneim Madboul...",NaN,"May 21, 2020",1984,230,When robberies and murders targeting women swe...,Comedies
3694,s3695,Movie,Lock Your Girls In,Fouad El-Mohandes,"Fouad El-Mohandes, Sanaa Younes, Sherihan, Ahm...",NaN,"May 21, 2020",1982,233,A widower believes he must marry off his three...,Comedies
4490,s4491,Movie,No Longer kids,Samir Al Asfory,"Said Saleh, Hassan Moustafa, Ahmed Zaki, Youne...",Egypt,"May 21, 2020",1979,237,Hoping to prevent their father from skipping t...,Comedies
6850,s6851,Movie,The School of Mischief,Houssam El-Din Mustafa,"Suhair El-Babili, Adel Emam, Saeed Saleh, Youn...",Egypt,"May 21, 2020",1973,253,A high school teacher volunteers to transform ...,Comedies
957,s958,Movie,Black Mirror: Bandersnatch,NaN,"Fionn Whitehead, Will Poulter, Craig Parkinson...",United States,"December 28, 2018",2018,312,"In 1984, a young programmer begins to question...",Dramas

In [14]:
data.sort_values(["release_year"],ascending=False)

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre
2327,s2328,TV Show,Gabby's Dollhouse,NaN,"Laila Lockhart Kraner, Tucker Chandler, Juliet...",NaN,"January 5, 2021",2021,1,"Cute cats, quirky crafts and colorful magic! J...",Kids
4468,s4469,TV Show,Night Stalker: The Hunt for a Serial Killer,Tiller Russell,NaN,NaN,"January 13, 2021",2021,1,Beneath the sunlit glamour of 1985 LA lurks a ...,Crime TV
2753,s2754,TV Show,History of Swear Words,NaN,Nicolas Cage,United States,"January 5, 2021",2021,1,"Nicolas Cage hosts this proudly profane, funny...",Docuseries
5103,s5104,Movie,Ratones Paranoicos: The Band that Rocked Argen...,"Alejandro Ruax, Ramiro Martínez","Juan Sebastián Gutiérrez, Pablo Cano, Pablo Me...",NaN,"January 6, 2021",2021,76,"The irrepressible Ratones Paranoicos, Argentin...",Documentaries
1355,s1356,Movie,Chris Rock Total Blackout: The Tamborine Exten...,Chris Rock,Chris Rock,NaN,"January 12, 2021",2021,98,"In this extended cut of his 2018 special, Chri...",Stand-Up
...,...,...,...,...,...,...,...,...,...,...,...
7616,s7617,Movie,Why We Fight: The Battle of Russia,"Frank Capra, Anatole Litvak",NaN,United States,"March 31, 2017",1943,82,This installment of Frank Capra's acclaimed do...,Documentaries
7342,s7343,Movie,Undercover: How to Operate Behind Enemy Lines,John Ford,NaN,United States,"March 31, 2017",1943,61,This World War II-era training film dramatizes...,Classic Movies
6117,s6118,Movie,The Battle of Midway,John Ford,"Henry Fonda, Jane Darwell",United States,"March 31, 2017",1942,18,Director John Ford captures combat footage of ...,Classic Movies
4960,s4961,Movie,Prelude to War,Frank Capra,NaN,United States,"March 31, 2017",1942,52,Frank Capra's documentary chronicles the rise ...,Classic Movies
4867,s4868,TV Show,Pioneers: First Women Filmmakers*,NaN,NaN,NaN,"December 30, 2018",1925,1,This collection restores films from women who ...,TV Shows

In [15]:
data.sort_values(["duration","release_year"],ascending=[True,False])

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre
980,s981,TV Show,Bling Empire,NaN,NaN,NaN,"January 15, 2021",2021,1,Follow LA's wildly wealthy Asian and Asian Ame...,Reality TV
2327,s2328,TV Show,Gabby's Dollhouse,NaN,"Laila Lockhart Kraner, Tucker Chandler, Juliet...",NaN,"January 5, 2021",2021,1,"Cute cats, quirky crafts and colorful magic! J...",Kids
2672,s2673,TV Show,Headspace Guide to Meditation,NaN,Andy Puddicombe,United States,"January 1, 2021",2021,1,"Headspace takes a friendly, animated look at t...",Docuseries
2753,s2754,TV Show,History of Swear Words,NaN,Nicolas Cage,United States,"January 5, 2021",2021,1,"Nicolas Cage hosts this proudly profane, funny...",Docuseries
3822,s3823,TV Show,Lupin,NaN,"Omar Sy, Ludivine Sagnier, Clotilde Hesme, Nic...",United States,"January 8, 2021",2021,1,"Inspired by the adventures of Arsène Lupin, ge...",Crime TV
...,...,...,...,...,...,...,...,...,...,...,...
5108,s5109,Movie,Raya and Sakina,Hussein Kamal,"Suhair El-Babili, Shadia, Abdel Moneim Madboul...",NaN,"May 21, 2020",1984,230,When robberies and murders targeting women swe...,Comedies
3694,s3695,Movie,Lock Your Girls In,Fouad El-Mohandes,"Fouad El-Mohandes, Sanaa Younes, Sherihan, Ahm...",NaN,"May 21, 2020",1982,233,A widower believes he must marry off his three...,Comedies
4490,s4491,Movie,No Longer kids,Samir Al Asfory,"Said Saleh, Hassan Moustafa, Ahmed Zaki, Youne...",Egypt,"May 21, 2020",1979,237,Hoping to prevent their father from skipping t...,Comedies
6850,s6851,Movie,The School of Mischief,Houssam El-Din Mustafa,"Suhair El-Babili, Adel Emam, Saeed Saleh, Youn...",Egypt,"May 21, 2020",1973,253,A high school teacher volunteers to transform ...,Comedies
957,s958,Movie,Black Mirror: Bandersnatch,NaN,"Fionn Whitehead, Will Poulter, Craig Parkinson...",United States,"December 28, 2018",2018,312,"In 1984, a young programmer begins to question...",Dramas

In [19]:
array=data.loc[1,"cast"].split(", ")
print(array)
print(len(array))

['Demián Bichir', 'Héctor Bonilla', 'Oscar Serrano', 'Azalia Ortiz', 'Octavio Michel', 'Carmen Beato']
6

In [44]:
cast_array=data.loc[2 ,"cast"].split(", ")
print(cast_array)
print(len(cast_array))

['Tedd Chan', 'Stella Chung', 'Henley Hii', 'Lawrence Koh', 'Tommy Kuan', 'Josh Lai', 'Mark Lee', 'Susan Leong', 'Benjamin Lim']
9

In [ ]:
def count_cast():
    cast_array=len(data.loc[1:2,"cast"].split(", "))
    return cast_array

In [ ]:
data.loc[data["title"]="Kota Factory"]

In [ ]:
data

In [ ]:
def split_comma(df):
    df = str(df)
    if df =="NaN":
        return 0
    return len(df.split(", "))

In [ ]:
df["num_of_cast"] = df["cast"].apply(split_comma)

In [ ]:
df_nd.groupby("type")["genre"].value_counts()